.comment:not(:first-child) {
  padding-top: 2.5rem;
}

.comment:not(:last-child) {
  padding-bottom: 2.5rem;
  border-bottom: 2px solid var(--theme-border-1);
  transition: border 800ms cubic-bezier(0.68, 1.02, 0, 0.99);
}

.comment-header {
  display: flex;
  justify-content: space-between;
}

.comment-detail {
  display: flex;
}

.comment-profile {
  width: 4.8rem;
  height: 4.8rem;
  border-radius: 100%;
}

.comment-main {
  margin-top: 8px;
  padding-left: 6rem;
  font-size: 1.5rem;
}

.comment-main__text {
  color: var(--theme-color-2);
}