.tip-time {
  margin-left: 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 2px 4px 2px 4px;
  border-radius: 4px;
  border: 1px solid var(--theme-border-1);
  transition: border 800ms cubic-bezier(0.68, 1.02, 0, 0.99);
}

.tip-profile {
  width: 2rem;
  height: 2rem;
}

.tip-message {
  font-size: 1.2rem;
  font-family: "Inter-Bold";
  color: var(--theme-color-1);
}
